{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container1">
    <div class="left">
        <div class="container12">
            <h2 class="text-center">Task Form</h2>
            <form action="{% url 'cbvAdd' %}" method="POST">
                {% csrf_token %}
                <label for="name">Task Name:</label><br>
                <input type="text" id="name" name="name" placeholder="Enter task name..." required><br><br>
                <label for="name">Task Date:</label><br>
                <input type="date" id="date" name="date" placeholder="choose task date..." required><br><br>
                <label for="priority">Priority:</label><br>
                <select id="priority" name="priority" required>
                    <option value="1">Low</option>
                    <option value="2">Medium</option>
                    <option value="3">High</option>
                </select><br><br>
                <div class="text-center">
                    <input type="submit" value="Submit Task">
                </div>

            </form>
        </div>

    </div>

    <div class="right">
        <h2 class="text-center">Task Completed</h2>
        {% for i in products %}
        <div class="product-card">
            <p><strong>Task Name:</strong> {{ i.name }}</p>
            <p>
            <p><strong>Task Date:</strong> {{ i.datefield }}</p>
            <p>
                <strong>Priority:</strong>
                {% if i.priority == 1 %}
                Low
                {% elif i.priority == 2 %}
                Medium
                {% else %}
                High
                {% endif %}
            </p>
            <div class="action-buttons">
                <a class="update-btn" href="{% url 'cbUpdate' i.id %}">Update</a>
                <a class="delete-btn" href="{% url 'Deleted' i.id %}">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

